.wpcf7-form {

  p {

    margin-bottom: $space;

    br {

      display: none;
    }

    .wpcf7-form-control-wrap {

      margin-top: $space;

      .wpcf7-list-item {

        margin: 0 $space 0 0;
      }

      .wpcf7-not-valid-tip {
  
        margin-top: $space;
      }

      input.otracantidad {

        width: 100px;
      }
    }
  }
}